
.main {
    width: 50%;
    margin:  auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btns .line1 div, .btns .line2 div {
    width: 200px;
    height: 200px;
    border: 5px solid black;
    margin: 20px;
    border-radius: 50%;
}
.line1,.line2 {
    display: flex;

}
.btn1 {
    background-color: brown;
}
.btn2 {
    background-color: chocolate;
}
.btn3 {
    background-color: darkslategrey;
}
.btn4 {
    background-color: mediumseagreen;
}

.flash {
    background-color: white;
}